$red: #962B15;
$dark-red: #57190C;
$light-red: #E34020;

$blue: #0C7489;
$dark-blue: #0C353D;
$light-blue: #13B6D6;

$yellow: #D6A229;
$dark-yellow: #96721D;
$light-yellow: #DDBB6C;

.primary {
  background-color: $blue;
}