@use './global.module.scss' as *;

.Article {
  margin: 1em auto;
  max-width: 80vw;

  a:link {
    color: $yellow;
  }
  a:visited {
    color: $dark-yellow;
  }
  a:hover {
    color: $light-yellow;
  }
}
