.Card {
  border: .2em solid #c4c4c4;
  border-radius: .5em;
  margin: 0 1.5em;
  margin-bottom: 3em;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 550px) {
    width: unset;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  
  img {
    height: inherit;
    width: auto;
    @media screen and (max-width: 550px) {
      max-height: min-content;
      width: min-content;
    }
    margin: 0;
  }

  article {
    margin: 1em;
    text-align: center;
    align-self: center;
  }
}
.Right {
  grid-column: span -1;
}
.Left {
  grid-column: span 1;
}
.Middle {
  grid-column: 1 / -1;
}
.ShadowLeft {
  box-shadow: -1.2em .5em .5em #333333;
}
.ShadowRight {
  box-shadow: 1.2em .5em .5em #333333;
}