@use './global.module.scss' as *;

.Container {
  background: #333333;
  @media screen and (max-width: 550px) {
    padding-top: 0;
    padding-bottom: 10vh;
  }

  a {
    text-decoration: none;
  }
  nav {
    background: #4f4f4f;
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 550px) {
      bottom: 0;
    }
  }

  footer {
    margin-top: 0.5em;
    a {
      color: $yellow;
    }
    a:visited {
      color: $dark-yellow;
    }
    a:hover {
      color: $light-yellow;
    }
  }
}

.ToggleLights {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
}
