@use './global.module.scss' as *;

.Home {
  padding-top: 15vh;
  @media screen and (max-width: 550px) {
    padding-top: 10vh;
  }
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh, 1fr;
  gap: 10vh;
}

.box {
  background: #828282;
  max-width: 80vw;
  height: max-content;
  margin: auto;
  h1 {
    padding-top: 1em;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    text-align: justify;
    align-items: center;
    @media screen and (max-width: 450px) {
      // padding-left: 5vh;
    }
    @media screen and (max-width: 768px) {
      font-size: 140%;
    }
  }
  @media screen and (max-width: 768px) {
    // margin-left: 5vh;
  }
}
.Text {
  grid-column: span 1;
}

.SliderChild {
  // font-family: $sans;
  height: 65px;
  overflow: hidden;
  position: relative;
  float: right;
  li {
    margin-left: -5px;
    margin-bottom: 45px;
    height: 45px;
    display: block;
    padding-left: 0;

    img {
      margin-top: 0.2em;
      max-height: 60%;
      max-width: 60%;
      padding-left: 0.2em;
    }
  }

  font-size: 125%;
  @media screen and (max-width: 768px) {
    margin: auto;
  }
}
.word0 {
  color: $blue;
}

.word1 {
  color: $red;
}

.word2 {
  color: $yellow;
}

.LightTheme {
  background: #f2f2f2;
  color: #000000;
}

.DarkTheme {
  background: #4f4f4f;
  color: #ffffff;
}

// pulled and adapted from: https://codepen.io/EricPorter/pen/JjPmOOb
.flip3 {
  grid-column: span -1;
  text-align: center;
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip3 {
  0% {
    margin-top: -275px;
  }
  5% {
    margin-top: -185px;
  }
  33% {
    margin-top: -185px;
  }
  38% {
    margin-top: -95px;
  }
  66% {
    margin-top: -95px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -275px;
  }
}
