@use './global.module.scss' as *;

.Page {
  padding-top: 15vh;
  @media screen and (max-width: 550px) {
    padding-top: 10vh;
  }
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: auto;
  }

  section {
    font-style: italic;
    font-size: larger;
  }
}

.wrapped {
  align-self: end;

  margin-right: 10vh;
  padding: 0 5vh;
  @media screen and (max-width: 550px) {
    margin-right: inherit;
  }
  max-width: 80%;
}

.red {
  a {
    color: $red;
  }
  a:visited {
    color: $dark-red;
  }
  a:hover {
    color: $light-red;
  }
}

.blue {
  a {
    color: $blue;
  }
  a:visited {
    color: $dark-blue;
  }
  a:hover {
    color: $light-blue;
  }
}

.yellow {
  a {
    color: $yellow;
  }
  a:visited {
    color: $dark-yellow;
  }
  a:hover {
    color: $light-yellow;
  }
}
