.Main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;


  div {
    margin: auto;
    width: 90%;
    height: 90%;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
.topLeft {
  grid-row: 1/2;
  grid-column: 1/2;
}
.topRight {
  @media screen and (min-width: 550px) {
    font-size: 150px;
  }
  color: #ccc;
  grid-row: 1/2;
  grid-column: 3/4;
  animation: shrink .7s linear infinite;
  animation-direction: alternate;

  @keyframes shrink {
    0% {
      transform: scaleZ(50%);
    }
    100% {
      transform: scaleZ(100%);
      transform: scaleY(70%)
    }
  }

}
.centerLeft {
  @media screen and (min-width: 550px) {
    font-size: 150px;
  }
  grid-row: 2/3;
  grid-column: 1/2;

  span {
    display: inline-block;
    position: relative;
    color: #848484;
    animation: skew .2s linear infinite;
    animation-direction: alternate;

    @keyframes skew {
      0% {
        transform: skewX(8deg);
      }
      100% {
        transform: skewX(-8deg);
      }
    }

  }
}
.center {
  $yellow: #D6A229;
  $dark-yellow: #96721D;
  $light-yellow: #DDBB6C;

  font-size: 150%;
  grid-row: 2/3;
  grid-column: 2/3;

  a:link {
    color: $yellow;
  }
  a:visited {
    color: $dark-yellow;
  }
  a:hover {
    color: $light-yellow;
  }
}
.centerRight {
 grid-row: 2/3;
 grid-column: 3/4; 
}
.bottomCenter {
  @media screen and (min-width: 550px) {
    font-size: 150px;
  }
  color: #111111;
  grid-row: 3/4;
  grid-column: 2/3;
}
