.Post {
  padding-top: unquote('max(60px, 10vh)');

  h1 {
    padding: 0.7em;
    text-align: center;
  }
  article {
    display: grid;
    grid-template-columns: 1fr unquote('min(65ch, 100%)') 1fr;
  }
  article > * {
    grid-column: 2;
  }
}
