$red: #962B15;
$blue: #0C7489;
$yellow: #D6A229;
$dark-gray: #333333;
.NavLink {
  a {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 550px) {
      font-size: small;
      flex-direction: column;
    }
  }

  img {
    padding-right: .3em;
    @media screen and (max-width: 550px) {
      max-width: 60%;
      max-height: 60%;
      padding: 0;
      padding-top: 2px;
    }
    margin: 0;
  }

  figcaption {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
}

.NavList {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
    padding: 0;

  li {
    list-style-type: none;
  }
  :last-child {
    margin-top: 0;
  }
}

.Home {
  font-size: normal;
}

.Code {
  background-color: $blue;
}

.Design {
  background-color: $red;
}

.Write {
  background-color: $yellow;
}

.Contact {
  font-size: normal;
  background-color: $dark-gray;
}
